ul , li{
    list-style-type: none;
    margin-top: 20px;



}
.lis{
    text-decoration: none;
    color: aliceblue;
}
.lis:hover{
    color: rgba(168, 34, 182, 0.553);
    
}
.SearchBox{
    position: relative;
    width: 250px;
    margin-left: 20px;
    height: 30px;
    border-radius: 10px;
    border: opx solid #fff;
}
/* this sention will be only for styleing componets that are not from material UI */